{{!-- REGLER LE PBM DE L UPDATE PR LES INGREDIENTS ET PR LES INPUTS TYPE RADIO --}}

<div class="create-container">
  <h1 class="centered">Update your recipe!</h1>

  <form action="/update/{{recipe._id}}" method="POST" class="create-form">

    <div class="title-container">
      <label for="title">Title of your recipe: </label>
      <input type="text" name="title" value="{{recipe.title}}" required>
    </div>

    <div class="level-container">
      <label for="level">Level of difficulty: </label>
      {{#each levels}}
        {{#if this.[0]}}
          <input type="radio" name="level" value="{{this.[1]}}" checked/>{{this.[1]}}
        {{else}}
          <input type="radio" name="level" value="{{this.[1]}}"/>{{this.[1]}}
        {{/if}}
      {{/each}}
    </div>

    <div class="ingredients-button-container">
      <div class="ingredients">
        <label for="ingredient">Update or add ingredient:</label>
        {{#each recipe.ingredients}}
          <input type="text" class="ingredient" name="ingredient{{inc @index}}" value="{{this}}" required>
        {{/each}}
      </div>
      <button class="new-ingredient">add new ingredient</button>
    </div>

    <div class="cuisine-container">
      <label for="cuisine">Type of cuisine: </label>
      <input type="text" name="cuisine" value="{{recipe.cuisine}}">
    </div>

    <div class="dishtype-container">
      <label for="dishType">Type of dish: </label>
      <input type="radio" name="dishType" value="Breakfast" />Breakfast
      <input type="radio" name="dishType" value="Dish" />Dish
      <input type="radio" name="dishType" value="Snack" />Snack
      <input type="radio" name="dishType" value="Drink" />Drink
      <input type="radio" name="dishType" value="Dessert" />Dessert
      <input type="radio" name="dishType" value="Other" />Other
    </div>

    <div class="img-container">
      <label for="image">Upload an image of your recipe: </label>
      <input type="text" name="image" value="{{recipe.image}}">
    </div>

    <div class="duration-container">
      <label for="duration">Duration of your recipe: </label>
      <input type="number" name="duration" min="0" value="{{recipe.duration}}">
    </div>

    <div class="creator-container">
      <label for="creator">Your name:</label>
      <input type="text" name="creator" value="{{recipe.creator}}">
    </div>

    <div class="creation-container">
      <label for="created">Date of your recipe:</label>
      <input type="date" name="created" value="{{recipe.created}}">
    </div>

    <button type="submit">Update recipe</button>

  </form>
</div>